// colors
$black: #000;
$white: #fff;
$background: #16192e;
$primary: #2a6478;
$primary-hover: #4f97af;
$gray-light: #ebebeb;
$gray: #a4a4a4;
$gray-dark: #6c7077;

// fonts
$size: 14px;

// border
$radius: 10px;
