@use '@/shared/styles' as *;

.up {
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: $primary;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
	cursor: pointer;

	svg * {
		fill: $white;
	}

	&:hover {
		background-color: $primary-hover;
	}
}
